*.pyc
submit/result/
mc_ocr.egg-info/
text_detector/PaddleOCR/inference/
.idea/
mc_ocr/data/mc_ocr_train_filtered/
mc_ocr/rotation_corrector/output/rotation_corrector/mobilenetv3/train_20210129_1659/log_train.txt
mc_ocr/text_detector/PaddleOCR/inference/ch_ppocr_server_v2.0_det_infer
mc_ocr/text_detector/PaddleOCR/paddleocr.egg-info
mc_ocr/data/mc_ocr_private_test
mc_ocr/data/mc_ocr_train
mc_ocr/data/viReceipts
mc_ocr/data/wer_20210125
mc_ocr/data/baocaotaichinh
mc_ocr/data/SaleContract
mc_ocr/key_info_extraction/PICK/weights/model_best.pth
mc_ocr/key_info_extraction/PICK/weights/receipts.pth
mc_ocr/key_info_extraction/PICK/weights/invoices_model/ckp/config.json
mc_ocr/key_info_extraction/PICK/weights/invoices_model/ckp/model_best.pth
